/* footer */
*{
  font-family: Arial, Helvetica, sans-serif;
}
.footer{
  background-color: rgb(026, 045, 083);;
  color: white;
  padding: 80px;
  padding-top: 40px;
  position: relative;
  border-top: 2px solid white;


  
}
.footer .top{
  display: flex;
  flex-direction:column ;
  justify-content: flex-start;
  align-items: flex-start;
 
 

}
.footer .top p{
  width: 300px;
  text-align: left;
}
.footer .buttom{
  display: flex;
  flex-direction: row ;
  justify-content: start;
  align-items: flex-start;
  

}
.footer .top .logo{
   width: 170px;
   
   margin-top: 5px;
   height: 40px;
}
.footer .buttom .section{
  margin: 50px;
  
  text-align: left;
}
.footer .buttom #sec-1{
  margin-left: 0px;
}
.footer .buttom .section p, .footer .buttom .section h2{
  text-align: left;
}
.footer .top h1{
  margin-left: 40px;
}
.footer .buttom .section button{
  color: white;
  border: 2px solid white;
  padding: 5px;
  background-color: rgb(026, 045, 083);
  margin-top: 10px;
}
.footer .buttom .section button:hover{
  cursor: pointer;
}
.footer .buttom #sec-3{
  margin-top: 50px;
}