/* customer container the section above contact us */
.cutomer-container {
    background-color: rgb(026, 045, 083);;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20px 0px;
    
    position: relative;
    top: 47px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-top: 25px;
    
   }
   .cutomer-container .Header{
     position: absolute;
     left: 50%;
     
   }
   .cutomer-container .wrapper{
     
     
     justify-content: center;
     align-items: center;
     
     margin: auto;
     padding: 0px 40px;
     
     
     
     
   }
   /*.cutomer-container .wrapper::-webkit-scrollbar{
     -webkit-appearance: none;
   }*/
   .cutomer-container .wrapper ,
   .cutomer-container .wrapper .section,
   .cutomer-container .wrapper .section .footer
   {
     display: flex;
     flex-direction: row;
     
   }
   .cutomer-container .wrapper .control{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .cutomer-container .wrapper .section {
    
     width: 700px;
     height: 200px;
     background-color:white;
     margin: auto 50px;
     
     
   }
   
   .cutomer-container .wrapper .section div img{
     width: 200px;
     height: 200px;
     object-fit: cover;
     object-position: center;
   }
   .cutomer-container .wrapper .section .paragraphe {
     color: rgb(32, 76, 68);
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     line-height: 20px;
     padding: 8px;
     
   }
   .cutomer-container .wrapper .section .footer{
     justify-content: space-between;
     padding: 10px;
     background-color: white;
     color: rgb(32, 76, 68);
   }
   .cutomer-container .wrapper .section h5 ,.cutomer-container .wrapper .section p{
     text-align: left;
     margin: 5px 10px;
     font-size: 15px;
   
   }
   .cutomer-container .wrapper .section h5{
     margin-bottom: 0px;
     padding-bottom: 0px;
   }
   .comma{
     margin: 0px;
     padding: 0px;
     color: rgb(28, 28, 86);
     font-size: 35px;
     text-align: left;
     font-weight: bold;
   }
   .cutomer-container .wrapper .section .footer .email{
     font-weight: bold;
   }
   .cutomer-container .wrapper .section .footer .detail
   {
      border: 2px solid rgb(28, 28, 86);
      padding: 5px;
   }
   .cutomer-container button{
     position: absolute;
     bottom: 10px;
     left: 50%;
     color: rgb(28, 28, 86);
     padding: 8px;
     border-radius: 3px;
     border: none;
     background-color: white;
   }
   
