*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    /* background: rgba(255, 0, 0, 0.562); */
    margin-top: 20px;
    z-index: 10;
    
}
.nav-container header{
    display: flex;
}
.nav-container .img-con{
    width: 50px;
    height: auto;
}
.img-con img{
    width: 100%;
    margin-top: -3px;
}
.nav-container .icon{
    margin: 0 25px 0 20px;
    padding: 0px 30px 0 10px;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.nav-container .icon:hover{
   color: rgb(096, 181, 201);
}
.nav-container h2{
    color: white;
    /* margin-left: 180px; */
    font-size: 30px;
}
nav{
    display: flex;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    /* background: rgba(0, 0, 255, 0.5); */
    padding: 10px;
    list-style: none;
    /* margin-right: 50px; */
    
}
nav ul a {
    text-decoration: none;
    color: white;
    margin: 10px 50px 10px 10px;
    font-weight: 600;
    font-size: 15px;
}
a:hover{
    color: rgb(096, 181, 201);
}
nav button{
    border: 2px solid rgb(096, 181, 201);
    padding: 2px 30px;
    color: white;
    background: none;
    margin-right: 100px;
    font-weight: 600;
    cursor: pointer;
}
nav button a{
    text-decoration: none;
    color: white;
}
nav button:hover{
   background: rgba(96, 182, 201, 0.5);
   
}

@media screen and (max-width : 1076px){
   nav{
       display: none;
   }
}
@media screen and (max-width : 600px){
    .nav-container h2{
        color: white;
        /* margin-left: 180px; */
        font-size: 20px;
    }
    .nav-container .img-con{
        width: 35px;
        height: auto;
        /* background: red; */
    }
    .img-con img{
        width: 100%;
        margin-top: -3px;
    }
    .nav-container .icon{
        margin: 0 25px 0 20px;
        padding: 0px 20px 0 5px;
        font-size: 20px;
    }
}
