/* NavBar design*/
/* NavBar design*/
.navbar{
  position: fixed;
  left: 0px;
  top: 0;
  right:0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid rgb(46, 90, 90);
  background-color: rgb(46, 90, 90);
}
.navbar .right-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding-right: 100px;
  padding-left: 200px;
  height: 50px; 
  background:linear-gradient(135deg, transparent 45px, rgb(235, 235, 210) 0) top left;
  flex-shrink: 0;
}
.navbar .right-side  a{
  display: flex;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color:rgb(6, 49, 49);
  flex-shrink: 0;
}
.navbar .left-side{
  width: 480px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-shrink: 0; 
}
.Humburger{
  margin-left: 30px;
}
.logo{
width: 180px;
margin-left: 20px;
height: 40px;
}
.navbar a:hover{
  cursor: pointer;
  /* border: 1px solid  rgb(6, 49, 49); */
  padding: 6px;
  text-decoration: underline;
  color: rgb(7, 157, 216);
}
hr.vertical{
  border: 0;
  border-left: 2px solid white;
  height: 35px;
  float: left;
  margin-left: 30px;
}
